<h2><%=@figure.name%></h2>
<ul>
  <%@figure.landmarks.each do |landmark|%>
     <li><%=figure.landmark%></li>
  <%end%>
</ul>

<ul>
<%@figure.titles.each do |title|%>
  <li><%=figure.title%></li>
<%end%>
</ul>
